@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

#menu {
    text-align: center;
    margin: 20px;
}

#buttonCountInput {
    height: 30px;
    width: 250px;
    text-align: center;
}

form button {
    height: 30px;
    width: 50px;
}

#gameContainer {
    justify-content: center;
    width: 100vw;
    height: calc(90vh - 100px);
    overflow: hidden;
    position: relative;
    display: flex;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}